/*font style*/


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav style */
.title{
    margin: 30px 150px ;
}

.head_of_title ul{
    list-style: none;
    display: flex;
    gap: 48px;
}

.head_of_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header style */

.head{
    display: flex;
    margin: 120px 0 ;
}

.head_title h1{
    font-size: 65px;
    font-weight: 900;
}

.head_title{
    gap: 10px;
}


/* plants style */

.plants_title{
    display: block;
    margin: 120px 150px;
    text-align: center;
}

.plants_title h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plants_title p{
    font-size: 22px;
    margin-bottom: 10px;
}



.plants_item{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    margin: 120px 150px 210px;
}

.item{
    margin: 20px;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.btn_style{
    width: 270px;
    background-color: #E95A08;
    padding: 26px 50px;
    font-size: 16px;
    color: white;
    font-weight: 300;
    border: none;
}

#badge{
    width: 286px;
    margin-left: 497px;
    margin-top: -100%;
    margin-bottom:40% ;
}

.plants_lover{
    display: flex;
    align-items: start;
    margin: 210px 150px 120px;
    gap: 60px;
}
.plants_lover_title{
    text-justify: auto;
    gap: 20px ;
}

.plants_lover_title h3{
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.plants_lover_title li{
    font-size: 22px;
    color: rgb(85, 85, 85);
    margin-bottom: 10px;
    text-align: center;
}

/* deals style */

.deals-title{
    text-align: center;
    font-size: 50px;
    margin: 0 150px;
    padding: 50px;
}

.deals-title p{
    font-size: 22px;
    color: darkolivegreen;
}

.deals-bg2{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    border-radius: 15px;
}

.deals-bg1{
    border-radius: 15px;
    gap: 10px 20px;
}

.deals-bg0{
    border-radius: 15px;
}
.deals-bg{
    display: flex;
    margin: 120px 150px;
    gap: 20px;
}
/* join section */

.join-title{
    background-image: url(../assets/news-letter-bg.png);
    align-items: center;
    text-align: center;
    padding: 190px 300px;
    background-repeat: no-repeat;
    margin: 0%;
}

.join-title h1{
    font-size: 50px;
    color: white;
}

.join-section{
    width: 644px;
    height: 50px;
}

.btn{
    width: 186px;
    height: 55px;
    background-color: #E95A08;
    border: none;
    color: white;
}

/* footer */
.footer-section{
    display: flex;
    margin: 50px 150px;
    gap: 100px;
}

.footer-item{
    display: flex;
    gap: 110px;
}

.tag{
    display: block;
    justify-items: center;
}

.tag2{
    display: block;
}